        <!-- Start of .header-bottom-4 -->
        <header class="header-bottom-4">
          <img src="./assets/images/banner/banner4.jpg">
          <div class="header-bottom-4__bg">
              <div class="icon">
                  <img src="./assets/images/banner/banner-shape.png">
              </div>
          </div>
          <div class="container">
              <h1 class="section-title">{{'dhiHairPlant'|translate}}</h1>
          </div>
      </header>
      <!-- End of .header-bottom-4 -->

      <section class="departments-3 main-blog">
          <div class="main-blog__bg">
              <div class="icon">
                  <img src="./assets/images/png-shapes/form-shape.png">
              </div>
              <div class="icon">
                  <img src="./assets/images/png-shapes/specialists__left-bottom-shape.png">
              </div>
          </div>
          <div class="container container_no-sidebar">
            <div class="article">
                <div class="departments-3__single">
                    <div class="img">
                        <img src="./images/jpg/departments-3-3.jpg">
                    </div>
                    <b>{{'dhiHairPlantText1'|translate}}</b><br><br>
                    <p class="text">{{'dhiHairPlantText2'|translate}}
                    </p>
                    <b>{{'dhiHairPlantText3'|translate}}</b><br><br>
                    <p>{{'dhiHairPlantText4'|translate}}
                    </p>
                    <ul class="lists">
                        <h1 class="list-title">{{'dhiHairPlantList'|translate}}</h1>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList1'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList2'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList3'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList4'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList5'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList6'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList7'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList8'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList9'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList10'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList11'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList12'|translate}}</li>
                        <li class="list-item"><i class="fa fa-check"></i>{{'dhiHairPlantList13'|translate}}</li>
                    </ul>
                </div>
            </div>
          </div>
      </section>
