        <!-- Start of .header-bottom-4 -->
        <header class="header-bottom-4">
          <img src="./assets/images/banner/banner4.jpg">
          <div class="header-bottom-4__bg">
              <div class="icon">
                  <img src="./assets/images/banner/banner-shape.png">
              </div>
          </div>
          <div class="container">
              <h1 class="section-title">{{'aboutUs'|translate}}</h1>

          </div>
      </header>
      <!-- End of .header-bottom-4 -->

      <!-- Start of .about-4 -->
      <section class="about-4" id="about">
          <div class="latest-news__bg">
              <div class="icon">
                  <img src="./assets/images/png-shapes/latest-news__right-bottom-shape.png">
              </div>
          </div>
          <div class="container">
              <div class="content">
                  <div class="video">
                      <div class="img">
                          <img src="./assets/images/jpg/about-html.jpg">
                      </div>
                  </div>
                  <div class="content-right">
                      <h4>{{'about1'|translate}}</h4>
                      <h1 class="section-title">{{'opera'|translate}}<br><span>{{'yasamHastanesi'|translate}}</span> </h1>
                      <h2>{{'about2'|translate}}</h2>
                      <p>
                          {{'about3'|translate}}
                          <br><br>
                          <b>{{'about4'|translate}}</b><br>
                          {{'about5'|translate}}
                      </p>
                  </div>
              </div>
          </div>
      </section>
      <!-- End of .about-4 -->

      <!-- Start of .our-numbers -->
      <section class="our-numbers">
          <div class="our-numbers__bg"></div>
          <div class="container">
              <div class="our-numbers__img wow fadeInRight" data-wow-duration="1s">

              </div>
          </div>
      </section>
      <!-- End of .our-numbers -->

      <!-- Start of .our-numbers -->
      <section class="medical-center-2">
          <div class="container">
              <div class="content">
                <p>
                  <b>{{'about6'|translate}}</b><br>
                  {{'about7'|translate}}<br>
                  {{'about8'|translate}}<br><br>
                  <b>{{'about9'|translate}}</b><br>
                  {{'about10'|translate}}<br>
                  {{'about11'|translate}}<br>
                  {{'about12'|translate}}<br>
                  {{'about13'|translate}}<br>
                  {{'about14'|translate}}<br>
                  {{'about15'|translate}}<br><br>
                  <b>{{'about16'|translate}}</b><br>
                  {{'about17'|translate}}<br>
                  {{'about18'|translate}}<br>
                  {{'about19'|translate}}<br>
                  {{'about20'|translate}}<br>
                  {{'about21'|translate}}<br>
                  {{'about22'|translate}}<br>
                  {{'about23'|translate}}
                  <br><br>
                  {{'about24'|translate}}
              </p>
              </div>
          </div>
      </section>
      <!-- End of .our-numbers -->
