        <!-- Start of .header-bottom-4 -->
        <header class="header-bottom-4">
          <img src="./assets/images/banner/banner4.jpg">
          <div class="header-bottom-4__bg">
              <div class="icon">
                  <img src="./assets/images/banner/banner-shape.png">
              </div>
          </div>
          <div class="container">
              <h1 class="section-title">{{ 'frequentlyAskedQuestions' | translate }}</h1>
          </div>
      </header>
      <!-- End of .header-bottom-4 -->

      <!-- Start of .shop -->
      <section class="faq" id="faq">
        <div class="faq__content">
            <div class="accardion container">
                <div class="accardion__item wow fadeInLeft" data-wow-duration="1s">
                    <h2 class="accardion__item-title"><span>1.</span>{{ 'faq1Title' | translate }}<i class="fa fa-angle-down"></i></h2>
                    <p class="accardion__item-text">{{ 'faq1Text' | translate }}</p>
                </div>
                <div class="accardion__item wow fadeInLeft" data-wow-duration="1s">
                    <h2 class="accardion__item-title"><span>2.</span>{{ 'faq2Title' | translate }}<i class="fa fa-angle-down"></i></h2>
                    <p class="accardion__item-text">{{ 'faq2Text' | translate }}</p>
                </div>

                <div class="accardion__item wow fadeInLeft" data-wow-duration="1s">
                    <h2 class="accardion__item-title"><span>3.</span>{{ 'faq3Title' | translate }}<i
                            class="fa fa-angle-down"></i></h2>
                    <p class="accardion__item-text">{{ 'faq3Text' | translate }}</p>
                </div>
                <div class="accardion__item wow fadeInLeft" data-wow-duration="1s">
                    <h2 class="accardion__item-title"><span>4.</span>{{ 'faq4Title' | translate }}<i class="fa fa-angle-up"></i></h2>
                    <p class="accardion__item-text">{{ 'faq4Text' | translate }}</p>
                </div>
                <div class="accardion__item wow fadeInLeft" data-wow-duration="1s">
                    <h2 class="accardion__item-title"><span>5.</span>{{ 'faq5Title' | translate }}<i class="fa fa-angle-down"></i></h2>
                    <p class="accardion__item-text">{{ 'faq5Text' | translate }}</p>
                </div>
            </div>
        </div>
    </section>
      <!-- End of .shop -->
