        <!-- Start of .header-bottom-4 -->
        <header class="header-bottom-4">
          <img src="./assets/images/banner/banner4.jpg">
          <div class="header-bottom-4__bg">
              <div class="icon">
                  <img src="./assets/images/banner/banner-shape.png">
              </div>
          </div>
          <div class="container">
              <h1 class="section-title">{{'mesotherapyApplication'|translate}}</h1>
          </div>
      </header>
      <!-- End of .header-bottom-4 -->

      <section class="departments-3 main-blog">
          <div class="main-blog__bg">
              <div class="icon">
                  <img src="./assets/images/png-shapes/form-shape.png">
              </div>
              <div class="icon">
                  <img src="./assets/images/png-shapes/specialists__left-bottom-shape.png">
              </div>
          </div>
          <div class="container container_no-sidebar">
              <div class="article">
                  <div class="departments-3__single">
                      <div class="img">
                          <img src="./assets/images/jpg/departments-3-3.jpg">
                      </div>
                      <p class="text">{{'mesotherapyText'|translate}}
                      </p>
                  </div>
              </div>
          </div>
      </section>
