        <!-- Start of .header-bottom-4 -->
        <header class="header-bottom-4">
          <img src="./assets/images/banner/banner4.jpg">
          <div class="header-bottom-4__bg">
              <div class="icon">
                  <img src="./assets/images/banner/banner-shape.png">
              </div>
          </div>
          <div class="container">
              <h1 class="section-title">{{ 'treatmentServices' |translate }}</h1>

          </div>
      </header>
      <!-- End of .header-bottom-4 -->

      <section class="about-4">
          <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a [routerLink]="['dhi-hair-transplant']" >
                    <div class="services__item">
                        <div class="services__item-icon">
                            <img src="./assets/images/hizmetler/banner1.jpg">
                        </div>
                        <div>
                            <h1 class="services__item-title">{{ 'dhiHairPlant' |translate }}
                            </h1>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a [routerLink]="['sapphire-fue']">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <img src="./assets/images/hizmetler/banner2.jpg">
                            </div>
                            <div>
                                <h1 class="services__item-title">{{ 'sapphireFue' |translate }}
                                </h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a [routerLink]="['women-hair-plant']">
                    <div class="services__item">
                        <div class="services__item-icon">
                            <img src="./assets/images/hizmetler/banner8.jpg">
                        </div>
                        <div>
                            <h1 class="services__item-title">{{ 'womanTransplant' |translate }}
                            </h1>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a [routerLink]="['eyebrow-transplant']">
                    <div class="services__item">
                        <div class="services__item-icon">
                            <img src="./assets/images/hizmetler/banner3.jpg">
                        </div>
                        <div>
                            <h1 class="services__item-title">{{ 'eyeBrowTransplant' |translate }}
                            </h1>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a [routerLink]="['beard-mustache-transplant']">
                    <div class="services__item">
                        <div class="services__item-icon">
                            <img src="./assets/images/hizmetler/banner4.jpg">
                        </div>
                        <div>
                            <h1 class="services__item-title">{{ 'beardMustacheTransplant' |translate }}
                            </h1>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a [routerLink]="['laser-hair']">
                    <div class="services__item">
                        <div class="services__item-icon">
                            <img src="./assets/images/hizmetler/banner9-1.jpg">
                        </div>
                        <div>
                            <h1 class="services__item-title">{{ 'unshavenHair' |translate }}
                            </h1>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a [routerLink]="['laser-hair']">
                    <div class="services__item">
                        <div class="services__item-icon">
                            <img src="./assets/images/hizmetler/banner5.jpg">
                        </div>
                        <div>
                            <h1 class="services__item-title">{{ 'laserHair' |translate }}
                            </h1>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a [routerLink]="['prp']">
                    <div class="services__item">
                        <div class="services__item-icon">
                            <img src="./assets/images/hizmetler/banner6.jpg">
                        </div>
                        <div>
                            <h1 class="services__item-title">{{ 'prpTreatment' |translate }}
                            </h1>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 ml-auto mr-auto">
                    <a [routerLink]="['mesotherapy']">
                    <div class="services__item">
                        <div class="services__item-icon">
                            <img src="./assets/images/hizmetler/banner7.jpg">
                        </div>
                        <div>
                            <h1 class="services__item-title">{{ 'mesotherapyApplication' |translate }}
                            </h1>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="video"
            style="text-align: center;
            /* align-items: center; */
            padding-top: 40px;
            margin: auto;">
                <a class="btn-video-outer" href="https://wa.me/+905077945838">
                    <span class="btn-video">
                        <i class="fa fa-whatsapp btn-play"></i>{{ 'contactUs' |translate }}
                    </span>
                </a>
            </div>
          </div>

      </section>
